.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #d4fc79, #96e6a1);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 20px rgba(16, 148, 231, 0.3);
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-bar input{
    height: 50px;
    padding-left: 25px;
    border: none;
    border-radius: 40px;
    outline: none;
    color: #333; 
    background: #fff;
    font-size: 18px;
}

.search-bar img{
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.weather-icon{
    width: 150px;
    margin: 30px 0;
}

.temperature{
    font-size: 80px;
    line-height: 1;
    color: #333;
}

.location{
    font-size: 40px;
    color: #333;
}

.weather-data{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    color: #333;
}

.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}

.weather-data .col span{
    display: block;
    font-size: 16px;
    color: #666;
}

.weather-data .col img{
    width: 30px;
    margin-top: 10px;
}